
.activ-link-class {
    text-decoration: none;
    border-bottom: 2px solid #f30a0a;
}

.navLink {
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 5px solid transparent;
}

.link-home:hover {
    text-decoration: none;
    border-bottom: 5px solid #f30a0a;
}

.link-games:hover {
    text-decoration: none;
    border-bottom: 5px solid #4c0af3;
}

.link-sports:hover {
    text-decoration: none;
    border-bottom: 5px solid hsl(59, 92%, 50%);
}

.link-society:hover {
    text-decoration: none;
    border-bottom: 5px solid #14b629;
}

.link-health:hover {
    text-decoration: none;
    border-bottom: 5px solid #dc0af3;
}

.link-science:hover {
    text-decoration: none;
    border-bottom: 5px solid #0a7ef3;
}

.link-business:hover {
    text-decoration: none;
    border-bottom: 5px solid #f97f05;
}

.link-arts:hover {
    text-decoration: none;
    border-bottom: 5px solid #0af3eb;
}